* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans";
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 35px;
}

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

/**** small screen ***/

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*** medium screen  **/

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

/** large screen **/

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/**********************************************header****************************************************************/

header li {
  list-style: none;
  display: inline;
  margin-right: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}

header img {
  object-fit: contain;
}

header .user .avatar {
  width: 40px;
  margin-left: 50px;
}
.menu {
  display: flex;
}
nav {
  align-self: center;
}
img.logo {
  margin-right: 50px;
}
.user {
  align-items: center;
  display: flex;
  position: relative;
}
hr {
  margin-top: 30px;
}

main {
  margin: 70px 0px;
}

.product-details {
  display: flex;
  margin: 0 60px;
}

.product-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img.main-product-image#main-image {
  width: auto;
  object-fit: contain;
  border-radius: 15px;
  margin-bottom: 25px;
  height: 350px;
}

.images-slider img {
  width: 16%;
  margin-right: 18px;
  border-radius: 15px;
}

h2.title-1 {
  font-size: 18px;
}

h1.product-name {
  font-size: 52px;
  margin-top: 30px;
}

p.product-description {
  width: 85%;
  margin-top: 30px;
  font-size: 15px;
  line-height: 28px;
}

h6.price {
  font-size: 28px;
  margin: 15px 0px;
}

span {
  font-size: 15px;
  padding: 2px 5px;
}
.cart-shop span {
  padding: 0;
}
.cart {
  z-index: 99;
}

h6.old-price {
  font-size: 14px;
  text-decoration: line-through;
  color: hsl(0, 0%, 75%);
  font-weight: 400;
}

.quantity {
  display: flex;
  background: var(--Light-grayish-blue);
  padding: 10px 2px;
  width: 16%;
  margin-right: 20px;
  border-radius: 10px;
  align-items: center;
}

.quantity input[type="text"] {
  background: transparent;
  border: none;
  width: 50px;
  text-align: center;
}

.add-to-cart {
  display: flex;
  margin-top: 15px;
}

button {
  background: var(--Orange);
  padding: 15px 80px;
  border: none;
  border-radius: 10px;
  color: var(--White);
  font-size: 16px;
  font-weight: 700;
}

.add-to-cart path {
  fill: var(--White);
  width: 10px;
}
.add-to-cart svg {
  width: 22px;
  object-fit: contain;
  height: auto;
  margin-right: 10px;
  z-index: 99;
}

i.fa-solid.fa-minus,
i.fa-solid.fa-plus {
  color: var(--Orange);
  font-size: 12px;
  font-weight: 700;
}

i.fa-solid.fa-bars {
  display: none;
}

.menu i.fa-solid.fa-xmark {
  display: none;
}

.cart-shop {
  position: absolute;
  height: 155px;
  background: var(--White);
  top: 85px;
  width: 280px;
  right: 70px;
  box-shadow: 0px 2px 14px 0px hsl(0, 0%, 75%);
  padding: 20px;
  border-radius: 15px;
  display: none;
}

img.cart-product-image {
  width: 45px;
  height: auto;
}
.cart-shop .content {
  display: flex;
}
.text {
  margin-left: 10px;
}
.cart-shop button {
  width: 100%;
  margin-top: 20px;
}
h2.cart-title {
  font-size: 16px;
  /* margin-bottom: 17px; */
}
.cart-shop hr {
  margin: 4px 0px 20px 0px;
}
#img1 {
  opacity: 0.5;
}

.product-overlay {
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto 0;
  top: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.main-product {
  width: 400px;
  transform: translate(0%, 5%);
  border-radius: 15px;
}

.product-overlay .images-slider img {
  width: 6%;
  margin-right: 18px;
  border-radius: 15px;
  margin-top: 45px;
}
.main-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-overlay i.fa-solid.fa-xmark {
  display: flex;
  flex-direction: row-reverse;
  right: 35%;
  position: absolute;
  color: #ffffff;
  font-size: 25px;
  top: 25px;
}
.main-image i#prev,
.main-image i#next,
.product-images i#prev,
.product-images i#next {
  background: #ffffff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  /* right: -15px; */
  position: relative;
  z-index: 99;
}
.main-image i#next {
  right: 15px;
}
.main-image i#prev {
  right: -15px;
}
.product-details .product-images i {
  visibility: hidden;
}

#cartquantity {
  padding-inline: 8px;
  background: var(--Orange);
  border-radius: 50%;
  color: white;
  position: absolute;
  left: 15px;
  top: 15px;
}

@media (max-width: 600px) {
  .container {
    margin: 0;
    padding: 0;
  }
  .menu {
    flex-direction: row-reverse;
    position: relative;
  }

  #menu {
    line-height: 45px;
    padding-top: 60px;
    background: var(--White);
    position: fixed;
    height: 100%;
    z-index: 99;
    display: none;
    width: 50%;
    top: 0;
    left: 0;
    padding-left: 30px;
  }
  header li {
    display: block;
    color: var(--Black);
    font-weight: 700;
  }
  header {
    padding: 0 35px;
  }
  i.fa-solid.fa-xmark {
    position: absolute;
    top: 20px;
    color: var(--Black);
  }
  a {
    color: var(--Black);
    text-decoration: none;
  }
  hr {
    display: none;
  }
  .product-details {
    flex-direction: column;
    margin: 0;
  }

  .add-to-cart {
    flex-direction: column;
  }

  .quantity {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  img.main-product-image {
    height: 375px;
    border-radius: 0;
  }
  .product-infos {
    margin-top: 20px;
    padding: 0 35px;
  }

  i.fa-solid.fa-bars {
    font-size: 25px;
  }
  nav {
    margin-right: 20px;
  }
  header .user .avatar {
    margin-left: 25px;
  }
  i.fa-solid.fa-bars {
    display: block;
  }

  .menu i.fa-solid.fa-xmark {
    display: block;
  }
  .images-slider {
    display: none;
  }

  .cart-shop {
    right: 4%;
  }
  .product-images {
    display: flex;
    align-items: center;
  }
  .product-details .product-images i {
    visibility: visible;
    position: absolute !important;
  }
  img.main-product-image#main-image {
    width: 100%;
    object-fit: cover;
    border-radius: 0;
  }
  .product-images i#prev {
    left: 0;
  }
  .product-images i#next {
    right: 0;
  }
  main {
    margin: 30px 0px;
  }
}
